body {
  max-width: 1200px;
  margin: auto;
  background-image: url(./img/sad-smile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  background-size: cover;
}
#meteo {
  padding: 20px;
  text-shadow: 2px 0 #aaa, -2px 0 #aaa, 0 2px #aaa, 0 -2px #aaa, 1px 1px #aaa,
    -1px -1px #aaa, 1px -1px #aaa, -1px 1px #aaa;
}

main {
  text-align: center;
  padding: 20px;
  width: 75%;
  margin: auto;
  margin-top: 50px;
  border-radius: 20px;
  background-color: #ffffff;
  opacity: 0.8;
}

#acudit {
  padding: 30px;
}

.puntuacionButtons {
  display: none;
  border-radius: 100%;
  padding: 10px;
}

#següent {
  background-color: rgb(0, 153, 255);
  border-color: rgb(0, 153, 255);
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
}
#següent:hover {
  background-color: white;
  color: black;
}
